.radio-title {
    margin: 0 0 10px 0;
    text-align: left;
}

.input-file-error-wrap {
    margin: 0 auto 25px auto;
    height: 25px;

    .input-file-error {
        color: #CB3D40;
        font-size: 12px;
        margin: 3px 14px 0 14px;
        text-align: left;       
    }
}

