.header{
    background-color: #fff;

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .header-primary-wrap {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            .header-logo {
                width: 90px;
            }
        }

        .header-secondary-wrap {
            display: flex;
            align-items: center;
        }
    }
}