.section {
    margin: 140px 0;
    text-align: center;

    .section-content-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 29px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        .section-content-items {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
        }
    } 
}
@media screen and (max-width: 499px) {
    .section {
        .section-content-items {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    } 
}