.section {
    margin: 140px 0;
    text-align: center;

    .section-content-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 29px;
        margin-bottom: 50px;
    }
}