* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;  
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

// for content center
.wrapper{                
  max-width: 1170px;
  margin: 0 auto;
}

// general title style
.title {                
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  margin: 0 0 50px 0;
}
